<ns-action-bar
  [title]="isCreating ? 'Replace Challenge' : 'Edit Challenge'"
  [hasMenu]="false"
></ns-action-bar>
<FlexboxLayout class="form">
  <StackLayout class="input-field">
    <Label
      class="label"
      text="Title"
      [ngClass]="{ invalid: !titleCtrl.valid && titleCtrl.touched }"
    ></Label>
    <TextField
      class="input"
      returnKey="next"
      required
      [(ngModel)]="title"
      #titleCtrl="ngModel"
    ></TextField>
    <Label
      text="Please enter title."
      *ngIf="!titleCtrl.valid && titleCtrl.touched"
    ></Label>
  </StackLayout>
  <StackLayout class="input-field">
    <Label
      class="label"
      text="Description"
      [ngClass]="{ invalid: !descriptionCtrl.valid && descriptionCtrl.touched }"
    ></Label>
    <TextView
      class="input"
      returnKey="done"
      required
      [(ngModel)]="description"
      #descriptionCtrl="ngModel"
    ></TextView>
    <Label
      text="Please enter description."
      *ngIf="!descriptionCtrl.valid && descriptionCtrl.touched"
    ></Label>
  </StackLayout>
  <Button
    class="btn btn-primary"
    text="Save"
    [isEnabled]="titleCtrl.valid && descriptionCtrl.valid"
    (tap)="onSubmit(titleCtrl.value, descriptionCtrl.value)"
  ></Button>
</FlexboxLayout>
